.body{
  font-family:verdana,'Arial','メイリオ',sans-serif;

}


.fix-menu{
  position:fixed;
  top:0;
  left:0;
  height:50px;
  width:100%;
  background-color:whitesmoke;
  z-index: 1000;
}


.container1{
  display:flex;
  justify-content:center;
  width:100%;
  flex-direction:row-reverse;
}

.container1>h1{
  margin:0;
  text-align:center;
}

.container1>img{
  border-radius: 0%;
}

.sp-menu{
  position:absolute;
  top:10px;
  right:25px;
}

.sp-menu #open{
  font-size:30px;
  cursor:pointer;
}

.sp-menu #open.hide{
  display:none;
}

.overlay{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background:rgba(255,255,255,0.95);
  text-align:center;
  padding:64px;
  opacity:0;
  pointer-events:none;
  transition :opacity .6s;
  z-index: 1000;
}

.overlay.show{
  opacity:1;
  pointer-events:auto;
}

.overlay #close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity:0;
  transform:translateX(16px);
  transition:opacity .3s,transform .3s;
}

.overlay.show li{
  opacity:1;
  transform:none;
}

.overlay.show li:nth-child(1){
  transition-delay: .1s;
}
.overlay.show li:nth-child(2){
  transition-delay: .2s;
}
.overlay.show li:nth-child(3){
  transition-delay: .3s;
}
.overlay.show li:nth-child(4){
  transition-delay: .4s;
}


.background{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  font-size: 14px;
}

.topbox{
  text-align:center;
  padding:25px;
  border:solid;
  margin:70px;

}

.mainphoto{
  width:80%;
}
.photo1{
  text-align: center;
}

.line-bc{
  background:whitesmoke;
  padding:30px 0;
}

.line-width{
  margin:10px;
}

.baloon1{
  width:100%;
  margin:20px 0;
  overflow:hidden;
  /* background:aqua; */
  display:flex;
  justify-content:center;
  align-items:center;
}

.question img{
  width:50px;
  height:50px;
  border-radius:50%;
  border:solid 3px #d7ebfe;
}

.comment{
  width:100%;
  margin-left:20px;
}

.says{
  display:inline-block;
  background:#d7ebfe;
  border-radius:7px;
  position:relative;
  box-sizing:border-box;
}

.says::before{
  content:"";
  width:0;
  height:0;
  top:20px;
  left:-20px;
  border:10px solid transparent;
  border-right:10px solid #d7ebfe;
  position:absolute;
}

.says p{
  padding:5px;
  margin:5px 0;
}


.baloon2{
  width:100%;
  margin:20px 0px;
  overflow:hidden;
  /* background:aqua; */
  display:flex;
  flex-direction:row-reverse;
  align-items:center;
}

.answer img{
  width:50px;
  height:50px;
  border-radius:50%;
  border:solid 3px #d7ebfe;
}

.comment2{
  width:100%;
  margin-right:20px;
}

.says2{
  display:inline-block;
  background:#d7ebfe;
  border-radius:7px;
  position:relative;
  box-sizing:border-box;
}

.says2::before{
  content:"";
  width:0;
  height:0;
  top:20px;
  right:-20px;
  border:10px solid transparent;
  border-left:10px solid #d7ebfe;
  position:absolute;
}

.says2 p{
  padding:5px;
  margin:5px 0;
}

.left{
  text-align:right;
}

