.body{
  font-family:verdana,'Arial','メイリオ',sans-serif;
}


.fix-menu{
  position:fixed;
  top:0;
  left:0;
  height:50px;
  width:100%;
  background-color:whitesmoke;
  z-index: 1000;
}


.container1{
  display:flex;
  justify-content:center;
  width:100%;
  flex-direction:row-reverse;
}

.container1>h1{
  margin:0;
  text-align:center;
}

.container1>img{
  border-radius: 0%;
}

.sp-menu{
  position:absolute;
  top:10px;
  right:25px;
}

.sp-menu #open{
  font-size:30px;
  cursor:pointer;
}

.sp-menu #open.hide{
  display:none;
}

.overlay{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background:rgba(255,255,255,0.95);
  text-align:center;
  padding:64px;
  opacity:0;
  pointer-events:none;
  transition :opacity .6s;
  z-index: 1000;
}

.overlay.show{
  opacity:1;
  pointer-events:auto;
}

.overlay #close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity:0;
  transform:translateX(16px);
  transition:opacity .3s,transform .3s;
}

.overlay.show li{
  opacity:1;
  transform:none;
}

.overlay.show li:nth-child(1){
  transition-delay: .1s;
}
.overlay.show li:nth-child(2){
  transition-delay: .2s;
}
.overlay.show li:nth-child(3){
  transition-delay: .3s;
}
.overlay.show li:nth-child(4){
  transition-delay: .4s;
}
.overlay.show li:nth-child(5){
  transition-delay: .5s;
}
.overlay.show li:nth-child(6){
  transition-delay: .6s;
}


.background{
  width:80%;
  /* height:100%; */
  margin-left:auto;
  margin-right:auto;
  font-size: 14px;
  /* background-image:url(../photo/back.jpg);
  background-size:auto; */
  /* position:relative; */
}

.opa1{
  position: relative;
  width:100%;
  height: 100%;
}

.opa1::before{
  display:block;
  width: 100%;
  height:100%;
  content:"";
  position:absolute;
  /* margin-left:auto;
  margin-right:auto; */
  /* font-size: 14px; */
  background:url(../photo/back.jpg);
  /* background-size:auto; */
  background-position: 85% 0%;
  /* background-repeat:repeat-y; */
  opacity:.1;
  z-index: -1;

}




.flow>h1,
.plan>h1{
  border-bottom:black 1px solid;
  margin-top:25px;
  text-align: center;
}


.topbox{
  font-size: 25px;
  text-align:center;
  padding:25px;
  border:solid;
  margin:70px;
}

.topphoto{
  width:80%;
}
.topphoto2{
  text-align: center;
}

.iconflow{
  text-align:center;
}

.iconflow>img{
  width:64px;
}

.box1{
  border-bottom:rgba(0,0,0,0.5) 1px solid ;
}
.flow .box1:last-child{
  border-bottom: none;
}

.flow ul,
.plan ul{
  padding:0px 20px;
  margin:0;
}


.flow h2{
  margin-top:0px;
}


.box1>:first-child{
  font-size:10px;
  margin-bottom:0px;
  opacity:0.5px;
}


.plan .under{
  display:inline-block;
  line-height: 25px;
  background:linear-gradient(transparent 80%,skyblue 80%);
}

.underyellow{
  display:inline-block;
  line-height: 25px;
  background:linear-gradient(transparent 80%,rgb(252, 248, 14) 80%);
}

.planback1{
  background-color: rgba(245,245,245,0.9);
  padding:5px;
  border-radius:10px;
}

.planback1 p:first-child{
  margin-top:0px;
}

.detail p{
  font-size:12px;
}